body {
	color: #005263;               /* Dark gray */
	background-color: #white;    /* Light gray = EEEEEE */
	font-size: 18px;
	margin: 20px auto;
}
h1 {
	text-align: center;
	font-size: 2em;
	padding: 10px;
	text-align: center;
	border: 2px dotted #5D6063;
	border-radius: 3px;

	width: 200px;
	box-sizing: border-box;
	margin: 20px auto;
}
h2 {
  font-size: 1.6em;
	padding: 5px;
}
p {
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: lower-roman;
}
a {
	text-decoration: none
}
.active {
	background-color: #04AA6D;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00697F;
}

#navbar li {
  float: left;
}
.center {
	text-align:center;
}
.active {
  background-color: #205D6A;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #205D6A;
}
