/* FREQUENTLY EDITED */
/* background image settings */

#ml_research {
    background-image: url("media/cards/stellar.png");
}
#resume_card {
    background-image: url("media/cards/resume.png");
}
#cryptography {
    background-image: url("media/cards/crypto.png");
}
#ghself {
    background-image: url("media/cards/ghself.png");
}
#rec_card {
    background-image: url("media/cards/riding.png");
}

.card.clickable {
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
}
.card.clickable::before {
    content: "";
    filter: blur(10px);
    z-index: -1;
}

/* */

html {
    width: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word; /* For older browsers */
    word-break: break-word; /* For modern browsers */
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    background-color: var(--title-bg);
    color: var(--text-color-title);
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    top: 0;
    left: 0; /* Ensure it's aligned to the left */
    right: 0; /* Ensure it stretches across the full width */
    margin: 0;
}

/*BODY*/

body {
    text-align: center;
    color: var(--text-color-body);
    background-color: var(--page-bg); /* Light gray = EEEEEE other = 205D6A*/
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

h3,
h1 {
    font-weight: normal;
}

a {
    color: var(--text-color-body);
}

a:visited {
    color: lightgray;
}

a:hover {
    color: var(--two-bg);
    text-decoration: underline;
}

a:active {
    color: var(--two-bg);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.card {
    padding: 40px;
    border-radius: 10px;

    transition: transform 0.3s ease;
}
.card:nth-child(1) {
    background-color: var(--one-bg);
}

.card:nth-child(2) {
    background-color: var(--two-bg);
}

.card:nth-child(3) {
    background-color: var(--three-bg);
}

.card:nth-child(4) {
    background-color: var(--one-bg);
}

.card:nth-child(5) {
    background-color: var(--two-bg);
}

.card:nth-child(6) {
    background-color: var(--three-bg);
}

.clickable {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.clickable:hover {
    transform: translateY(-7px);
}

a .card {
    text-decoration: none;
    color: var(--text-color-body);
}
a:hover .card {
    text-decoration: none;
    color: var(--text-color-body);
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .card {
        padding: 30px;
    }
}

@media screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card {
        padding: 20px;
    }
}

/* THEME COLORS */

:root.yellow {
    --page-bg: #ffffff;
    /* --title-bg: #ffd10c; */
    --title-bg: #2d2e58;
    --one-bg: #2d2e58;
    --two-bg: #eeb91b;
    --three-bg: #108690;
    --four-bg: #2d2e58;
    /* 108690 -- teal
	1d1e4e -- navy blue
	fbc113 -- original yellow */

    --text-color-light: #ffffff;
    --text-color-dark: #2d2e58;
    --text-color-title: #ffffff;
    --text-color-navbar: #2d2e58;
    --text-color-body: #ffffff;
}

:root,
:root.dark {
    --page-bg: #15202b;
    --title-bg: #8899a6;
    --one-bg: #22303c;
    --two-bg: var(--title-bg);
    --three-bg: #22303c;
    --four-bg: var(--title-bg);

    --text-color-light: #e9eaee;
    /* --text-color-dark: var(--page-bg); */
    --text-color-dark: black;
    --text-color-title: #ffffff;
    --text-color-navbar: #ffffff;
    --text-color-body: #ffffff;
}
:root.boring {
    --page-bg: #ffffff;
    --title-bg: #f2f2f2;
    --one-bg: var(--title-bg);
    --two-bg: var(--title-bg);
    --three-bg: var(--title-bg);
    --four-bg: var(--title-bg);

    --text-color-light: #00697f;
    --text-color-dark: #005263;
}

:root.bright {
    --page-bg: #264159;
    --title-bg: #f7a787;
    --one-bg: #c06c84;
    --two-bg: #f67280;
    --three-bg: #f7a787;
    --four-bg: #6c5b7b;

    --text-color-light: #e9eaee;
    --text-color-dark: var(--page-bg);
}

:root.pastel-warm {
    --page-bg: #ff968a;
    --title-bg: #ffd8be;
    --one-bg: #ffc8a2;
    --two-bg: #ffd8be;
    --three-bg: #ffc8a2;
    --four-bg: #ffd8be;

    --text-color-light: var(--text-color-dark);
    --text-color-dark: #345979;
}

/* THEME BUTTON */
#theme-select {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    border-color: var(text-color-dark);
    border-radius: 5px;
    color: var(--text-color-dark);
    padding: 0.3em;
}

#theme-select-wrap {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    z-index: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeb91b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
